* {
  margin: 0%;
  padding: 0%;
  width: 100%; }

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  grid-area: main;
  padding: 5%;
  background-color: #ffff; }

main {
  background-image: url(https://images.pexels.com/photos/14840714/pexels-photo-14840714.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load); }
