* {
  margin: 0%;
  padding: 0%;
  width: 100%; }

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 90px;
  height: auto;
  grid-area: main;
  padding: 5%;
  background-color: #ffff; }

body {
  display: grid;
  grid-column-gap: 10% 10% 10% 10%;
  grid-template-areas: "header header header header"  "main main main main"  "footer footer footer footer"; }

.imghome {
  width: 100%; }

main {
  background-image: url(https://images.pexels.com/photos/14840714/pexels-photo-14840714.jpeg?auto=compress&cs=tinysrgb&w=400&lazy=load); }
