footer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-evenly;
    margin: 0% 5%;
    div.colum {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}