footer {
    grid-area: footer;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content:space-around;
    font-size: 16px;
    margin-top:0%;
    padding-bottom: 10px;
    background-color:black;
    color: white;
    div.container-footer{
        display: flex;
        flex-direction: column;
    }
    div.footer1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 20px;
        font-size: 16px;
        .colum {
           width: 100%;
           margin: inherit;
           text-align: center;
           p{
            margin-top: 30px;
            text-align: justify;
           }
        }
        ul a {
            list-style: none;
            text-decoration: none;
            color: white;
        }
        ul a li {
            list-style: none;
        }
        ol, ul {
            padding-left: 0;
        }
    }
    div.contacto a {
        color: white;
        text-decoration: none;
        line-height: 2.6;
        font-size: 30px;
        margin-right: 15px;
    }
    .serv-link {
        display: flex;
        justify-content: space-evenly;
        text-align: left;
        margin-top: 30px;
        .serv {
            padding-right: 20px;
        }
    }
    div.footer2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    
    

}   