//Parallax 
.parallas, .main, .texto{margin:0 auto}

.parallax{
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size:  cover;
	height:30rem;
	max-width: 100%;
	position: relative
}

.logo-interior{
	color:#fff;
	font-size: 60px;
	font-weight: bold;
	left: 10%;
	position: absolute;
	text-align: center;
	top:18%;
	width: 80%;
}

img.logo-aqua {
	width: 400px;
	height: auto;
}

.img-uno{background-image: url(https://images.pexels.com/photos/4091169/pexels-photo-4091169.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)}
.img-dos{background-image: url(https://images.pexels.com/photos/4210858/pexels-photo-4210858.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)}
.img-tres{background-image: url(https://images.pexels.com/photos/991970/pexels-photo-991970.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)}
.img-cuatro{background-image: url(https://images.pexels.com/photos/2526025/pexels-photo-2526025.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1)}

//Carrousel
.carousel-inner {
	margin-bottom: 20px;
}

//Video 
.video {
	display: flex;
	align-items: center;
	justify-content:left;
    iframe {
	display: flex;
	width: 10px;
	height: 300px;
	margin: 0% 13%;
	border-radius: 8px;
	border: solid black;
}
}