// Images and content
.imghome {
    width: 100%;
}

//General
.about-us {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin: 5%;
    
    img {
        width: 340px;
        height: 250px;
        border-radius: 37% 63% 70% 30% / 30% 37% 63% 70% ;
        margin-top: 20px;
    }
}

.article {
    text-align: center;
    margin: 0px 5px 0px 5px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    p {
        margin: 0px 20px;
        padding: 0% 8%;
        padding-right: 0%;
        margin-right: 10%;
        text-align: justify;
    }
    p.art {
        margin: 0px 20px;
        padding: 0% 10%;
        text-align: center;
    }
}

.img_parrot {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-right: 110px;
}

.title {
    text-align: center;
}

.ub {
    display: flex;
    flex-direction: row;
    margin: 5%;
    p {
        margin: 20px;
        text-align: justify;margin: 20px;
        text-align: justify;
    }

}
.map iframe {
    width: 100%;
    margin-top: 20px;
}